body {
    background-color: dimgrey
}

#logo{
    position: relative;
    
    top: 30px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: auto;
}